.block--blog,
.block--blog-single,
.block--blog-archive {
	padding: 50px 0;

	@include mq(md) {
		padding: 70px 0;
	}

	.sidebar {
		.widget {
			h2 {
				border-top: 1px solid #efefef;
				border-bottom: 1px solid #efefef;
				margin: 0;
				padding: 20px 0;
			}

			ul {
				padding: 0;
				margin: 0 0 10px;
				list-style: none;

				li {
					display: block;
					width: 100%;
					border-bottom: 1px solid #efefef;

					&:last-of-type {
						border-bottom: 0;
					}

					a {
						display: block;
						padding: 15px 0;

						&:hover {
							color: $primary;
						}
					}
				}
			}

			form[role='search'] {
				margin-bottom: 45px;

				.wp-block-search__inside-wrapper {
					display: flex;
					align-items: center;
				}

				label {
					display: none;
				}

				input {
					height: 34px;
					display: block;
					background-color: $white;
					border: 1px solid #efefef;
					box-shadow: none;
					border-radius: 0;
					padding: 10px;
					width: 100%;
					margin-right: 7px;

					&:focus-visible {
						outline: none;
						border-color: $primary;
					}
				}

				button[type='submit'] {
					height: 34px;
					width: 48px;
					background: $primary;
					border: none;
					box-shadow: none;
					transition: all 0.4s ease-in-out;

					svg {
						width: auto;
						fill: $white;
					}

					&:hover {
						background: $primary;
					}
				}
			}
		}
	}
}
.block--blog-single {
	.top--image {
		margin-top: -150px;
		margin-bottom: 45px;

		@include mq(lg) {
			margin-bottom: 105px;
			margin-top: -250px;
		}

		img {
			box-shadow: 0px 10px 50px rgba(99, 95, 86, 0.1);
			border-radius: 20px;
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
	article {
		position: relative;

		.image--holder {
			margin-bottom: 30px;
		}

		.categories {
			margin-bottom: 10px;

			a {
				&:hover {
					color: $primary;
				}
			}
		}

		h2 {
			font-size: rem(24);
			line-height: em(56, 40);
			font-weight: 300;
			margin-bottom: 30px;
			@include mq(md) {
				font-size: rem(28);
			}
			@include mq(lg) {
				font-size: rem(32);
			}
			@include mq(xl) {
				font-size: rem(36);
			}
			@include mq(xxl) {
				font-size: rem(40);
			}

			&:not(:first-of-type) {
				margin-top: 50px;
			}
		}

		ul {
			column-count: 1;
			column-gap: 50px;
			padding-left: 25px;

			@include mq(md) {
				column-count: 2;
			}
		}

		figure {
			width: 100%;
			left: 0;
			position: relative;
			margin: 0 0 35px;

			@include mq(md) {
				width: calc(100% + 120px);
				left: -60px;
			}

			img {
				box-shadow: 0px 10px 50px rgba(99, 95, 86, 0.1);
				border-radius: 20px;
				width: 100%;
				height: auto;
			}
		}

		.post-meta {
			position: relative;
			margin-bottom: 30px;
			.date {
				font-size: rem(16);
				line-height: em(22, 18);
				@include mq(md) {
					font-size: rem(18);
				}
			}
		}

		h3 {
			font-weight: 700 !important;
			font-size: rem(20);
			line-height: em(44, 22);
			margin-bottom: 0;
			text-transform: initial;
			color: #272b2a;
			@include mq(xl) {
				font-size: rem(22);
			}
			span {
				font-weight: 700 !important;
			}
			a {
				color: #272b2a;

				&:hover {
					color: $primary;
				}
			}
		}

		p {
			font-weight: 300;

			a {
				text-decoration-line: underline;
				color: #272b2a;

				&:hover {
					color: $primary;
				}
			}
		}
	}
}

.share-post {
	padding-left: 21px;
	border: 1px solid #efefef;
	margin: 30px 0 20px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;

	.share-title {
		margin: 0;
	}

	.menu-social-icons {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 43px;
				height: 43px;
				color: $primary;
				text-align: center;
				line-height: 43px;
				border-left: 1px solid #efefef;

				&:hover {
					color: $primary;
				}
			}
		}
	}
}

.navigation-single {
	display: flex;
	justify-content: space-between;

	a {
		padding: 6px 18px;
	}
	.post-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		width: 250px;
		top: -76px;
		left: auto;
		background-color: $white;
		transition: all 0.4s ease-in-out;
		z-index: 100;
		box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
		padding-left: 10px;

		.title {
			white-space: nowrap;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 0 !important;
			text-align: center;
			padding: 22px 0;
		}

		img {
			height: 60px;
			width: auto;
		}
	}

	.prev-post,
	.next-post {
		position: relative;
		&:hover {
			.post-container {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.next-post {
		.post-container {
			left: auto;
			right: 0;
		}
	}
}

.block--blog-archive {
	article {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 35px;
		margin-bottom: 100px;

		@include mq(lg) {
			grid-gap: 60px;
			grid-template-columns: 480px 1fr;
		}

		@include mq(xxl) {
			align-items: center;
		}

		.image--holder {
			position: relative;

			img {
				width: 100%;
				height: auto;
				border-radius: 100em;
			}
		}

		h3 {
			margin-bottom: 30px;

			font-size: rem(24);
			@include mq(md) {
				font-size: rem(28);
			}
			@include mq(lg) {
				font-size: rem(32);
			}
			@include mq(xl) {
				font-size: rem(36);
			}
			@include mq(xxl) {
				font-size: rem(40);
			}

			a {
				font-style: normal;
				font-weight: 300;
				line-height: em(56, 40);
				letter-spacing: 0.04em;
				text-transform: uppercase;
				color: #272b2a;

				&:hover {
					color: $black;
				}
			}
		}

		.post-meta {
			display: flex;
			flex-wrap: wrap;
			position: relative;
			margin-bottom: 30px;

			.date {
				font-size: rem(18);
				line-height: em(22, 18);
				letter-spacing: 0.02em;
				text-transform: uppercase;
			}

			.author {
				margin-left: 8px;
			}
		}

		p {
			margin-bottom: 30px;
		}

		.btn {
			margin-top: 0;
		}
	}
}

.navigation-loop {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;

	a {
		display: inline-flex;
		align-items: center;
		font-weight: 400;

		i {
			margin-right: 0;
			margin-left: 6px;
		}

		&.ml-auto {
			i {
				margin-left: 0px;
				margin-right: 6px;
			}
		}
	}
}
.block--blog {
	padding: 70px 0;
	text-align: center;
	overflow: hidden;

	.grid--blog {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 16px;
		margin: 35px 0 25px;
		overflow: visible;

		@include mq(lg) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 30px;
		}

		article {
			display: flex;
			flex-direction: column;
			text-align: left;

			.image--holder {
				margin-bottom: 18px;
				position: relative;
				img {
					width: 100%;
				}
			}

			.categories {
				margin-bottom: 10px;
			}

			.post-meta {
				display: flex;
				flex-wrap: wrap;

				.date {
					margin-right: 8px;
				}

				.author {
					width: 100%;
					position: relative;
				}
			}

			&:hover {
				.image--holder {
					&::before,
					a {
						opacity: 1;
					}
				}
			}
		}
	}
}

.posts--related {
	margin-top: 50px;
	.top--slider {
		display: flex;
		align-items: center;
		margin-bottom: 25px;

		h3 {
			margin: 0;
			padding: 0;
			white-space: nowrap;
		}

		.swiper--nav {
			display: flex;
			flex-direction: row-reverse;

			.swiper-button-next,
			.swiper-button-prev {
				position: relative;
				width: 31px;
				height: 31px;
				border: 1px solid #eee;
				border-radius: 100em;
				margin: 0;
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $white;
				background: $primary;
				left: unset;
				top: unset;
				right: unset;
				bottom: unset;

				&:hover {
					background: $secondary;
					color: $white;
				}
			}

			.swiper-button-next {
				margin-left: 8px;
			}
		}
	}
	article {
		display: flex;
		flex-direction: column;
		text-align: left;

		.image--holder {
			margin-bottom: 18px;
			position: relative;

			img {
				width: 100%;
			}
		}

		.categories {
			margin-bottom: 10px;
		}

		h3 {
			margin-bottom: 10px;
		}

		.post-meta {
			display: flex;
			flex-wrap: wrap;

			.date {
				margin-right: 8px;
			}

			.author {
				width: 100%;
				position: relative;
			}
		}

		&:hover {
			.image--holder {
				&::before,
				a {
					opacity: 1;
				}
			}
		}
	}
}

.top--blog {
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
	margin-bottom: 87px;
	border-bottom: 1px solid #d9d9d9;

	.left--blog {
		display: flex;
		align-items: center;
	}

	p {
		font-size: rem(18);
		line-height: em(44, 18);
		letter-spacing: 0.02em;
		color: $black;
		margin: 0 20px 0 0;
		font-weight: 300;
	}
	.sidebar {
		.widget {
			label {
				display: none;
			}
		}
	}
	select {
		background: #f5f3f1;
		border: 1px solid $white;
		box-shadow: 0px 10px 50px rgba(99, 95, 86, 0.1);
		border-radius: 10px;
		height: 55px;
		width: 180px;
		max-width: 100%;
		font-family: $poppins;
		font-style: normal;
		font-weight: 300;
		font-size: rem(18);
		line-height: em(44, 18);
		letter-spacing: 0.02em;
		color: #272b2a;
		padding: 6px 20px;
		-webkit-appearance: none;

		@include mq(md) {
			width: 250px;
		}
	}
	.wp-block-archives-dropdown {
		position: relative;

		&::after {
			content: '\f0d7';
			display: block;
			position: absolute;
			top: 15px;
			right: 17px;
			font-family: $fontawesome;
			font-weight: 600;
			line-height: 1em;
		}
	}
	#gform_wrapper_2 {
		width: 403px;
		max-width: 100%;

		@include mq($until: xl) {
			display: none;
		}
		.gform_fields {
			grid-template-columns: 1fr !important;
		}
		.gform_body {
			width: 100%;
		}

		form {
			display: flex;
		}
		.gform_footer {
			position: absolute;
			right: 0;
			top: -9px;

			.btn {
				width: 74px;
				height: 74px;
				box-shadow: 0 10px 50px rgba(99, 95, 86, 0.1);
				display: flex;
				align-items: center;
				justify-content: center;

				i {
					font-size: 34px;
					color: $primary;
				}
			}
		}
	}
}
.block--related-posts {
	position: relative;
	padding: 60px 0;
	z-index: 0;

	@include mq(md) {
		padding: 80px 0;
	}
	@include mq(lg) {
		padding: 100px 0;
	}
	@include mq(xl) {
		padding: 150px 0;
	}
	@include mq(xxl) {
		padding: 200px 0 170px;
	}
	@include mq(xxxl) {
		padding: 240px 0 170px;
	}

	.bottom--curve {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		z-index: -1;

		@include mq(md) {
			top: -50px;
		}
		@include mq(lg) {
			top: -100px;
		}
	}

	h2 {
		text-align: center;
		font-size: rem(36);
		line-height: em(72, 64);
		margin-bottom: 60px;
		padding-bottom: 30px;
		position: relative;
		@include mq(md) {
			font-size: rem(48);
		}
		@include mq(lg) {
			font-size: rem(52);
		}
		@include mq(xl) {
			font-size: rem(56);
		}
		@include mq(xxl) {
			font-size: rem(64);
		}

		&::after {
			content: '';
			display: block;
			width: 100%;
			max-width: 218px;
			background: $primary;
			height: 2px;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
.related-slider {
	.swiper-wrapper {
		article {
			padding: 27px 20px;
			background: $white;
			box-shadow: 0px 10px 50px rgba(99, 95, 86, 0.1);
			border-radius: 20px;
			height: 100%;
			position: relative;
			top: 0;
			transition: all 0.5s ease-in-out;

			&:hover {
				top: -2px;
				box-shadow: 0px 10px 30px rgba(99, 95, 86, 0.3);
			}

			a {
				display: flex;
				flex-direction: column;
				height: 100%;
			}
			.image--holder {
				margin-bottom: 0;
			}
			.content--area {
				display: flex;
				flex-direction: column;
				height: 100%;

				.post-meta {
					margin-top: auto;
				}
			}

			img {
				width: 100%;
				height: auto;
				margin-bottom: 20px;
				border-radius: 20px;
			}

			h3 {
				font-size: rem(20);
				line-height: em(42, 28);
				margin-bottom: 10px;
				@include mq(xl) {
					font-size: rem(24);
				}
				@include mq(xxl) {
					font-size: rem(28);
				}
			}

			.content--area {
				.date {
					font-size: rem(16);
					line-height: em(22, 18);
					color: #272b2a;

					@include mq(md) {
						font-size: rem(18);
					}
				}
			}
		}
	}
}

.single-post {
	.block--consultation {
		.background--image {
			background: #e6e1dc;
		}
		.btn {
			@extend .btn--secondary;
		}
	}
}
