.block--blog {
	padding: 80px 0;
}
.block--blog-posts {
	padding: 80px 0;
	background: #191919;
	text-align: center;

	select {
		@extend .btn;
		@extend .btn--primary;
		margin: 0 auto 35px;
		text-align: center;
		-webkit-appearance: none;
		cursor: pointer;
	}

	.grid--posts {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 40px 20px;
		@include mq(md) {
			grid-template-columns: 1fr 1fr;
		}
		@include mq(xl) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		article {
			background: $black;
			padding: 30px;
			text-align: left;
			top: 0;
			box-shadow: rgba($white, 0) 0 4px 10px;
			transition: all 0.5s ease-in-out;
			position: relative;
			display: flex;
			flex-direction: column;

			h3 {
				font-size: rem(24);
				font-weight: 700;
				line-height: em(32, 24);
				letter-spacing: -0.1px;
				margin-bottom: 20px;
				margin-top: 0;
				a {
					color: $white;
					&:hover {
						color: $primary;
					}
				}
			}

			.flex--buttons {
				display: flex;
				margin-top: auto;
				.btn:first-of-type {
					margin-right: 15px;
				}

				.btn {
					i {
						margin-left: 10px;
						position: relative;
						top: 2px;
					}
				}
			}

			&:hover {
				top: -5px;
				box-shadow: rgba($white, 0.3) 0 2px 20px;
			}
		}
	}
}

.blog-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 55px;
	p {
		margin: 0 35px 0 0;
	}
	.pagination-bullet {
		margin: 0 10px;
		a {
			border-radius: 5px;
			border: 1px solid rgba($white, 0.5);
			height: 40px;
			width: 40px;
			display: flex;
			align-items: center;
			justify-items: center;
			color: rgba($white, 0.5);
			padding: 0;
			span {
				width: 100%;
				text-align: center;
			}
		}

		&.pagination-bullet-active,
		&:hover {
			a {
				background: $primary;
				color: $background;
				border: $background;
			}
		}
	}
}

.block--blog-single {
	padding: 85px 0;

	.embed-responsive {
		margin-bottom: 35px;
	}

	.featured--image {
		margin-bottom: 35px;
	}

	.post-meta {
		font-weight: bold;
		margin-bottom: 25px;
		text-align: center;
	}

	article {
		figure {
			margin: 0 0 25px;
			padding: 0;
			figcaption {
				display: none;
			}
		}
		img {
			max-width: 100%;
			height: auto;
			margin: 0 auto;
			display: block;
		}
	}
}

.share-post {
	display: flex;
	align-items: center;
	font-weight: bold;
	justify-content: space-between;
	background: rgba($white, 0.05);
	margin-top: 50px;
	padding: 10px;
	border: 1px solid $primary;

	.share-title {
		padding: 10px 20px;
	}
	.menu-social-icons {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-left: 10px;
			a {
				height: 50px;
				width: 50px;
				display: flex;
				align-items: center;
				border: 1px solid rgba($white, 0.5);
				justify-content: center;
				color: $white;

				&:hover {
					background: $primary;
					color: $background;
				}
			}
		}
	}
}
