.btn {
	text-decoration: none;
	padding: 15px 20px;
	display: flex;
	height: 55px;
	width: 100%;
	justify-content: center;
	border-radius: 5px;
	border: 1px solid rgba(254, 254, 254, 0.5);
	font-size: rem(16);
	line-height: em(20, 16);
	max-width: 250px;
	font-weight: normal;
}

.btn--primary {
	background: $primary;
	color: $black;
	border: 1px solid $primary;
}
.btn--secondary {
	background: transparent;
	border: 1px solid rgba($white, 0.5);
	color: $white;
}
.btn--tertiary {
	background: $background;
	border: 1px solid rgba($background, 0.5);
	color: $primary;
}
