.block--consultation {
	position: relative;
	padding: 93px 0 200px;
	overflow: hidden;

	@include mq(md) {
		padding: 93px 0 300px;
	}

	.background--image {
		&::before {
			display: none;
		}
		img {
			width: auto;
			height: 100%;
			position: absolute;
			object-position: right;
			display: none;

			@include mq(md) {
				display: block;
				right: -40%;
			}
			@include mq(lg) {
				right: -20%;
			}
			@include mq(xl) {
				right: -10%;
			}
			@include mq(xxl) {
				right: 0;
			}
		}
	}

	.footer--curve {
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;

		@include mq(md) {
			bottom: -5%;
		}
		@include mq(lg) {
			bottom: -13%;
		}
		@include mq(xl) {
			bottom: -21%;
		}
		@include mq(xxl) {
			bottom: -35%;
		}
		@include mq(xxxl) {
			bottom: -45%;
		}
	}

	h2 {
		font-size: rem(40);
		line-height: em(72, 64);
		position: relative;
		padding-bottom: 30px;
		margin-bottom: 35px;
		@include mq(md) {
			font-size: rem(48);
		}
		@include mq(lg) {
			font-size: rem(52);
		}
		@include mq(xl) {
			font-size: rem(56);
		}
		@include mq(xxl) {
			font-size: rem(64);
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			max-width: 218px;
			background: $primary;
			height: 2px;
		}
	}
}

footer {
	padding: 0 0 40px;
	position: relative;

	.src-logo {
		margin-bottom: 25px;
		margin-top: -35px;
		width: 200px;
		height: auto;

		@include mq(md) {
			margin-top: -65px;
			margin-bottom: 40px;
		}
		@include mq(xxl) {
			margin-bottom: 90px;
			width: 250px;
		}
		@include mq(xxxl) {
			width: 300px;
		}
	}

	h4 {
		font-family: $poppins;
		font-style: normal;
		font-weight: 600;
		font-size: rem(18);
		line-height: em(36, 18);
		letter-spacing: 0.02em;
		color: #272b2a;
		margin: 0;
		text-transform: initial;
		@include mq($until: lg) {
			margin-top: 25px;
		}
	}
	.spacer {
		@include mq(lg) {
			padding-bottom: 57px;
		}
	}
	p,
	ul {
		font-family: $poppins;
		font-style: normal;
		font-weight: 300;
		font-size: rem(18);
		line-height: em(36, 18);
		letter-spacing: 0.02em;
		color: #272b2a;
		margin-bottom: 36px;
		padding: 0;
		list-style: none;
		margin-top: 0;

		a {
			color: #272b2a;

			&:hover {
				color: $primary;
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.copyright--flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include mq($until: md) {
			display: block;
		}

		p {
			margin: 0;
			font-weight: 300;
			font-size: rem(14);
			line-height: em(36, 14);
			letter-spacing: 0.02em;
			color: rgba(39, 43, 42, 0.6);
		}

		a {
			color: rgba(39, 43, 42, 0.6);
			font-weight: 600;

			&:hover {
				color: $primary;
			}

			&.js-to-top {
				font-size: rem(18);
				line-height: 2em;
				letter-spacing: 0.02em;
				color: #272b2a;

				@include mq($until: md) {
					margin-top: 15px;
					text-align: right;
					display: block;
				}
			}
		}
	}
	.social--icons {
		a {
			text-transform: capitalize;
		}
	}
	.border-left {
		padding-left: 15px;
		margin-bottom: 35px;

		@include mq(lg) {
			margin-bottom: 0;
			border-left: 1px solid $primary;
			padding-left: 45px;
		}
		@include mq(xxl) {
			padding-left: 81px;
		}

		&.no-mar {
			display: none;
		}
	}
	.copyright {
		border-top: 1px solid $primary;
		padding-top: 37px;
	}
	svg.im-logo {
		height: 16px;
		width: 16px;
		background: $magenta;
		border-radius: 100em;
		padding: 2px;
		position: relative;
		top: 2px;

		path {
			fill: $white;
		}
	}

	.gform_wrapper {
		margin-top: 20px !important;
		position: relative;
		form {
			display: flex;
			align-items: center;
			.gform_fields {
				grid-template-columns: 1fr !important;
			}

			.gform-body {
				width: 90%;
			}
		}
		.gform_footer {
			position: absolute;
			right: 0;
			top: -9px;

			.btn {
				width: 74px;
				height: 74px;
				box-shadow: 0px 10px 50px rgba(99, 95, 86, 0.1);
				display: flex;
				align-items: center;
				justify-content: center;

				i {
					font-size: 34px;
					color: $primary;
				}
			}
		}
	}
}
