form {
	width: 100%;
	margin-top: 15px;

	::placeholder {
		color: rgba($white, 0.5);
	}
	p {
		width: 100%;
		margin: 0;
		display: flex;
		align-items: flex-start;
	}
	span {
		width: 100%;
	}
	label {
		width: 100%;
		span {
			width: 100%;
			display: block;
		}
	}
	input,
	textarea,
	select,
	.select2-container--default .select2-selection--single,
	.select2-dropdown {
		color: $white;
		font-size: rem(18);
		font-weight: 500;
		line-height: em(46, 18);
		border: 0;
		border-bottom: 1px solid rgba($white, 0.5);
		background: none;
		width: 100%;

		&[type='submit'] {
			width: 145px;
			text-align: center;
			cursor: pointer;
			color: rgba($white, 0.5);

			&:hover {
				background: $primary;
				color: $black;
			}
		}

		&:focus {
			border-bottom: 1px solid $primary;
		}
	}
	.wpcf7-spinner {
		display: none;
	}
}
.wpcf7-not-valid-tip {
	color: $primary;
}
.wpcf7 form.invalid .wpcf7-response-output {
	background: $primary;
	border: $primary 1px solid;
	color: $black;
	font-size: 1rem;
	text-align: center;
	padding: 10px;
}
.select2-dropdown {
	background: $background;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	display: none;
}
.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	color: $white;
}
