.site-nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	transition: all 0.4s ease-in-out;
	padding: 0;
	justify-content: center;
	align-items: center;
	background: $background;

	.flex--header {
		display: flex;
		align-items: center;
	}

	.logo {
		display: flex;
	}

	.menu {
		padding: 0;
		margin: 0 auto;
		display: none;
		list-style: none;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		font-size: rem(16);
		line-height: em(20, 16);

		@include mq(xl) {
			display: flex;
		}

		> li {
			position: relative;
			margin: 0 7px;

			> a {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;
				height: 74px;
				color: $white;
				text-align: center;
				text-decoration: none;
				transition: all 0.4s ease-in-out;
				i {
					color: $primary;
					font-size: 12px;
					margin-left: 8px;
				}
			}

			&:hover {
				color: $primary;

				> .sub-menu {
					list-style: none;
					padding: 0;
					margin: 0;
					position: absolute;
					background: $background;
					top: 100%;
					left: 0;
					display: block;
					width: 230px;
					text-align: left;

					> li {
						position: relative;
						a {
							color: $white;
							padding: 6px 15px;
							display: block;
							font-weight: 400;
							text-decoration: none;

							&:hover {
								background: $primary;
								color: $black;
							}
						}
						&:hover {
							> .sub-menu {
								position: absolute;
								display: block;
								background: $white;
								top: 0;
								left: 100%;
								list-style: none;
								padding: 0;
								margin: 0;
								width: 230px;

								> li {
									position: relative;
									a {
										color: #272b2a;
										padding: 6px 15px;
										display: block;

										&:hover {
											background: $primary;
											color: #272b2a;
										}
									}

									> .sub-menu {
										display: block;
										padding: 0;
										list-style: none;
									}
								}
							}
						}
					}
				}
			}
		}
		&.top-menu {
			margin: 0;
			> li {
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}

	.btn--call {
		color: $white;
		position: relative;
		margin-left: auto;
		margin-right: 25px;

		@include mq(lg) {
			margin: unset;
		}

		i {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background: $primary;
			font-size: rem(16);
			border-radius: 100em;
			transform: rotateY(180deg);
			height: 42px;
			width: 42px;

			@include mq(xl) {
				margin-right: 8px;
			}

			@include mq(xxl) {
				border-radius: 0;
				background: unset;
				height: unset;
				width: unset;
				margin-right: 12px;
			}
		}

		span {
			display: none;
			@include mq(xl) {
				display: inline-block;
			}
		}
	}

	button {
		display: flex;
		width: 32px;
		height: 22px;
		flex-direction: column;
		justify-content: space-between;
		background: none;
		border: none;
		padding: 0;
		margin-left: auto;

		@include mq(md) {
			margin-left: unset;
		}

		span {
			display: block;
			width: 30px;
			height: 2px;
			background: $black;
		}
		@include mq(xl) {
			display: none;
		}

		&:focus {
			outline: none;
		}
	}

	.sub-menu {
		display: none;
	}

	// offset if WP admin bar is present
	.admin-bar & {
		top: 46px;
		@media (min-width: 783px) {
			top: 32px;
		}
	}

	&.sticky {
		box-shadow: rgba($white, 0.05) 0 4px 10px;
		padding: 0;

		.menu {
			> li {
				> a {
					height: 70px;
				}
			}
		}
	}
}

.bike--main {
	background: #222;
	position: fixed;
	top: 70px;
	width: 100%;
	z-index: 99;

	.flex--header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.menu {
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;

			li {
				margin: 0 15px;

				a {
					font-size: rem(16);
					line-height: em(20, 16);
					color: $white;

					&:hover {
						color: $primary;
					}
				}
			}
		}

		.btn {
			height: 34px;
			width: 127px;
			padding: 0;
			line-height: 1em;
			align-items: center;
			justify-content: center;
		}
	}
}
