/* Backgrounds
   ========================================================================== */
.background--image {
	@include absolute_cover();
	z-index: -1;

	img,
	video {
		@include absolute_cover();
		object-fit: cover;
		z-index: 0;
	}

	&:before {
		@include pseudo_cover();
		background: rgba($black, 0.1);
		z-index: 1;
	}
}

@keyframes scrollDown {
	0% {
		transform: scaleY(0);
		transform-origin: center top;
	}
	32% {
		transform: scaleY(1);
		transform-origin: center top;
	}
	33% {
		transform: scaleY(1);
		transform-origin: center bottom;
	}
	65% {
		transform: scaleY(0);
		transform-origin: center bottom;
	}
	66% {
		transform: scaleY(0);
		transform-origin: center top;
	}
	100% {
		transform: scaleY(0);
		transform-origin: center top;
	}
}

.image--holder {
	position: relative;

	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
}

.pr {
	padding-right: 60px;
}
.pl {
	padding-left: 60px;
}
