/* Backgrounds
   ========================================================================== */
.background--image {
	@include absolute_cover();
	z-index: -1;

	img,
	video {
		@include absolute_cover();
		object-fit: cover;
		z-index: 0;
	}

	&:before {
		@include pseudo_cover();
		background: rgba($black, 0.1);
		z-index: 1;
	}
}

@keyframes scrollDown {
	0% {
		transform: scaleY(0);
		transform-origin: center top;
	}
	32% {
		transform: scaleY(1);
		transform-origin: center top;
	}
	33% {
		transform: scaleY(1);
		transform-origin: center bottom;
	}
	65% {
		transform: scaleY(0);
		transform-origin: center bottom;
	}
	66% {
		transform: scaleY(0);
		transform-origin: center top;
	}
	100% {
		transform: scaleY(0);
		transform-origin: center top;
	}
}

.image--holder {
	position: relative;

	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
}

.pr {
	padding-right: 15px;
	@include mq(md) {
		padding-right: 20px;
	}
	@include mq(xl) {
		padding-right: 60px;
	}
}
.pl {
	padding-left: 15px;
	@include mq(md) {
		padding-left: 20px;
	}
	@include mq(xl) {
		padding-left: 60px;
	}
}
p.product.woocommerce.add_to_cart_inline {
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;

	.amount {
		display: none;
	}
	.button {
		@extend .btn;
		@extend .btn--primary;
		margin: 0 !important;

		i {
			display: none;
		}
	}
}

.swiper--nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
	margin-top: 35px;

	.swiper-button-next,
	.swiper-button-prev {
		position: relative;
		color: $white;
		margin: 0;
		left: unset;
		right: unset;
		top: unset;
		bottom: unset;
		font-size: 30px;
		margin: 0 10px;
		transition: all 0.5s ease-in-out;

		&::after {
			display: none;
		}

		&:hover {
			color: $primary;
		}
	}
}
.mfp-fade.mfp-bg.mfp-ready {
	background: rgba($background, 0.85);
	backdrop-filter: blur(4px);
	opacity: 1;
}
