.block--ba_homepage {
  position: relative;
  padding: 270px 0 70px;
  text-align: center;
  color: $white;

  @include mq(md) {
    padding: 208px 0 242px;
    text-align: right;
  }

  .image--holder {
    @include absolute_cover;
    z-index: 0;

    &::before {
      content: "";
      z-index: 1;
      @include absolute_cover();
      background: rgba($off-black, 0.3);

      @include mq(md) {
        display: none;
      }
    }

    img {
      @include absolute_cover;
      object-fit: cover;
      object-position: 75%;

      @include mq(md) {
        object-position: 55%;
      }
    }
  }

  h2 {
    color: $white;
    font-size: 3rem;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 20px;

    @include mq(lg) {
      font-size: 4.55rem;
    }

    @include mq(xxl) {
      font-size: 5.55rem;
    }

    strong {
      display: block;
      font-family: $allura;
      font-size: 8rem;
      list-style: 1.25em;
      color: rgba($white, 0.29);
      font-weight: normal;
      position: relative;
      width: 100px;
      margin: 0 auto;

      @include mq(md) {
        display: inline-block;
        font-size: 10rem;
        top: 20px;
        margin-left: -40px;
      }
      @include mq(lg) {
        margin-left: -70px;
        top: 60px;
        width: 207px;
        font-size: 16.666rem;
      }
    }
  }

  h4 {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.33em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 35px;

    @include mq(lg) {
      font-size: 2rem;
      margin-bottom: 64px;
    }
  }

  .btn--secondary {
    display: inline-flex;
    padding: 0 32px;
  }
}
