.block {
	position: relative;
}

.block--testimonials {
	padding: 30px 0;
	background: $primary;
	overflow: hidden;

	@include mq(xl) {
		padding: 65px 0;
	}

	.center-circle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 380px;
		height: auto;
		z-index: 9;

		h2 {
			color: $primary;
			font-size: rem(42);
			line-height: em(72, 64);
			@include mq(md) {
				font-size: rem(48);
			}
			@include mq(lg) {
				font-size: rem(52);
			}
			@include mq(xl) {
				font-size: rem(56);
			}
			@include mq(xxl) {
				font-size: rem(64);
			}
		}

		&::before {
			content: '';
			display: block;
			width: 400px;
			height: 400px;
			background: rgba(39, 43, 42, 0.8);
			border: 1px solid rgba(255, 255, 255, 0.04);
			backdrop-filter: blur(15px);
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 100em;
			z-index: -1;

			@include mq(md) {
				width: 450px;
				height: 450px;
			}
			@include mq(lg) {
				width: 480px;
				height: 480px;
			}
			@include mq(xl) {
				width: 550px;
				height: 550px;
			}
			@include mq(xxl) {
				width: 600px;
				height: 600px;
			}
		}
	}

	.flex--testimonial {
		display: flex;
		margin: 25px 0;

		@include mq(xl) {
			margin: 50px 0;
		}

		.single--testimonial {
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding: 20px;
			max-width: 450px;
			width: auto;
			height: 180px;
			background: #f5f3f1;
			border-radius: 20px;
			margin: 0 10px;
			flex-shrink: 0;

			@include mq(lg) {
				padding: 25px;
				height: 180px;
				max-width: 500px;
			}
			@include mq(lg) {
				padding: 30px;
				height: 200px;
				max-width: 550px;
			}
			@include mq(xl) {
				padding: 35px;
				height: 220px;
				max-width: 600px;
			}
			@include mq(xxl) {
				padding: 40px;
				height: 250px;
				max-width: 655px;
			}
			svg {
				flex-shrink: 0;
				left: -3px;
				margin-bottom: 10px;
			}

			p {
				margin-bottom: 0;
				@include mq(lg) {
					margin-bottom: 10px;
				}

				&:last-of-type {
					margin: 0;
				}
			}
		}
	}

	.testimonial--group-1 {
		position: relative;
		transform: translateX(-22%);
	}
	.testimonial--group-2 {
		justify-content: flex-end;
	}
}

.page--header {
	position: relative;
	height: 450px;
	display: flex;
	align-items: flex-end;
	padding-bottom: 100px;

	@include mq(md) {
		padding-bottom: 150px;
		height: 500px;
	}
	@include mq(xl) {
		height: 600px;
	}

	.header-curve {
		position: absolute;
		top: 85%;
		left: 0;
		width: 100%;
		height: auto;

		@include mq(md) {
			top: 75%;
		}
		@include mq(xl) {
			top: 65%;
		}
		@include mq(xxl) {
			top: 60%;
		}
		@include mq(xxxl) {
			top: 49%;
		}
	}

	h1 {
		line-height: 1.3em;
	}

	.single-post & {
		height: 600px;
		padding-bottom: 120px;

		@include mq(md) {
			height: 500px;
		}
		@include mq(lg) {
			height: 650px;
			padding-bottom: 240px;
		}
		@include mq(xl) {
			height: 750px;
		}

		.header-curve {
			top: 95%;
			@include mq(md) {
				top: 90%;
			}
			@include mq(lg) {
				top: 80%;
			}
			@include mq(xl) {
				top: 71%;
			}
			@include mq(xxl) {
				top: 71%;
			}
			@include mq(xxxl) {
				top: 61%;
			}
		}

		h1 {
			font-size: rem(28);
			@include mq(md) {
				font-size: rem(32);
			}
			@include mq(lg) {
				font-size: rem(42);
			}
			@include mq(xl) {
				font-size: rem(48);
			}
			@include mq(xxl) {
				font-size: rem(52);
			}
		}
	}

	a {
		color: #272b2a;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		font-size: rem(16);
		line-height: em(22, 18);
		margin-bottom: 15px;
		font-weight: 400;

		@include mq(lg) {
			font-size: rem(18);
		}
	}
}

.block--content {
	padding-bottom: 60px;

	@include mq(md) {
		padding-bottom: 80px;
	}
	@include mq(lg) {
		padding-bottom: 100px;
	}
	@include mq(xl) {
		padding-bottom: 120px;
	}
	@include mq(xxl) {
		padding-bottom: 150px;
	}
	.content--info {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 0;
		background: #f5f3f1;
		box-shadow: 0px 10px 50px rgba(99, 95, 86, 0.1);
		border-radius: 20px;

		@include mq(lg) {
			grid-template-columns: 1fr 380px;
		}
		@include mq(xl) {
			grid-template-columns: 1fr 420px;
		}
		@include mq(xxl) {
			grid-template-columns: 1fr 520px;
		}

		.content {
			padding: 40px 30px;
			box-shadow: 0px 10px 50px rgba(99, 95, 86, 0.1);
			border-radius: 20px 0px 0px 20px;

			@include mq(md) {
				padding: 50px;
			}
			@include mq(lg) {
				padding: 70px 80px;
			}
			@include mq(xl) {
				padding: 96px 100px;
			}
			@include mq(xxl) {
				padding: 96px 136px;
			}

			ul {
				padding-left: 25px;
			}
		}
		.info {
			padding: 30px;

			@include mq(lg) {
				padding: 70px 0 50px 80px;
			}
			@include mq(xl) {
				padding: 70px 0 50px 100px;
			}
			@include mq(xxl) {
				padding: 70px 0 50px 135px;
			}
		}
	}

	h4 {
		font-size: rem(22);
		line-height: em(44, 22);
		letter-spacing: 0.02em;
		font-weight: 600;
		margin-bottom: 0;
		text-transform: initial;
	}

	a {
		color: #272b2a;
		text-decoration: underline;

		&:hover {
			color: $primary;
		}
	}

	.social--icons {
		display: flex;

		li {
			margin-right: 15px;
			a {
				height: 50px;
				width: 50px;
				border-radius: 100em;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 16px;
				border: 1px solid #272b2a;
				color: #272b2a;
				text-decoration: none;

				&:hover {
					background: #272b2a;
					color: $primary;
				}
			}
		}
	}
}

.block--gallery-squares {
	position: relative;
	padding: 50px 0 140px;
	text-align: center;
	.square--grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 40px 20px;
		margin-top: 57px;

		@include mq(md) {
			grid-template-columns: 1fr 1fr;
		}
		@include mq(lg) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	article {
		background: $white;
		box-shadow: 0px 10px 50px rgba(99, 95, 86, 0.1);
		border-radius: 20px;
		padding: 14px;
		display: flex;
		align-items: center;
		position: relative;
		top: 0;
		transition: all 0.5s ease-in-out;

		&:hover {
			box-shadow: rgba($black, 0.25) 0 6px 20px;
			top: -2px;
		}

		img {
			width: 100%;
			height: auto;
			flex-shrink: 0;
			display: block;
		}

		.image--holder {
			display: flex;
		}
	}
}

.llvc {
	background: #f5f3f1;
	position: relative;
	margin: 0;

	.llvc__content__wrapper {
		max-width: 35em;
	}

	h2.llvc__content__title,
	.llvc__results__title {
		text-align: center;
		position: relative;
		font-size: rem(42);
		line-height: em(72, 64);
		margin-bottom: 40px;
		padding-bottom: 42px;
		position: relative;
		@include mq(md) {
			font-size: rem(48);
		}
		@include mq(lg) {
			font-size: rem(52);
		}
		@include mq(xl) {
			font-size: rem(56);
		}
		@include mq(xxl) {
			font-size: rem(64);
		}

		&::after {
			content: '';
			display: block;
			height: 2px;
			width: 100%;
			max-width: 218px;
			background: $primary;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.llvc__gender-selection {
		background: #f5f3f1;

		.llvc__button {
			@extend .btn;
			@extend .btn--primary;
			width: 150px;
			border: none;
		}
	}
	.llvc__nav--left.slider {
		background: $primary;
		.llvc__nav__item {
			color: $black;
		}
	}
	.llvc__nav.slider .llvc__nav-slider-track::before {
		background: linear-gradient(
			13.95deg,
			rgba($primary, 0.2) 0%,
			$primary 100%
		);
	}
	.llvc__form-group--checkbox label {
		background: $primary;
		color: $black;
		padding: 6px 15px;
		border-radius: 20px;
		border: none;

		&:hover {
			background: $black;
			color: $white;
		}
	}
	.llvc__form-popup__title {
		margin-bottom: 10px;
		font-size: 1.4em;
	}
	.llvc__form-popup__back {
		@extend .btn;
		@extend .btn--secondary;
		width: auto;

		svg {
			margin-left: 10px;
		}
	}
	.llvc__overlay {
		background-color: rgba($white, 0.1);
		backdrop-filter: blur(4px);
	}
	.llvc__added-concerns-notification .llvc__acn-btn-group {
		button {
			@extend .btn;
			@extend .btn--primary;
			padding: 8px 15px;
			font-size: 16px;

			svg {
				margin-left: auto;
			}
		}
	}
	.llvc .icon {
		fill: $primary;
	}
	.llvc__contact {
		max-width: 100%;
		width: 600px;
	}
	.llvc__contact
		.gform_wrapper
		.gform_body
		.gform_fields
		.gfield
		.ginput_container
		input {
		margin: 0;
		width: 100%;
		padding: 5px 20px !important;
		background: transparent;
		font-weight: normal;
		color: $black;
		background: #f5f3f1;
		border: 1px solid $white;
		box-shadow: 0px 10px 50px rgba(99, 95, 86, 0.1);
		border-radius: 10px;
		font-family: $poppins;
		font-weight: 300;
		font-size: rem(18) !important;
		line-height: em(44, 18);
		letter-spacing: 0.02em;
		color: $black;
	}
}
.llvc__results__result {
	background: $primary;
	color: $black;
	padding: 15px;

	&:nth-child(even) {
		color: $black;
		background: $primary;
		.llvc__results__title {
			color: $black;
			span {
				color: $black;
			}
		}
	}
	&:nth-child(odd) {
		color: $black;
		background: rgba($primary, 0.8);

		.llvc__results__title {
			color: $black;
			span {
				color: $black;
			}
		}
	}

	.llvc__results__title {
		color: $black;
		margin: 0;
		text-align: center;
	}
	.llvc__results__title--matches {
		display: block;
	}
}
.llvc__results__title__flex .toggle.down,
.llvc__results__title__flex .toggle.up {
	.icon {
		height: 35px;
		width: auto;
	}
}
.llvc__results__title__flex .icon-checked {
	height: 50px;
	width: auto;
}
.llvc__results__flex {
	padding: 0;
	margin-top: 35px;

	h4,
	p {
		font-size: rem(22);
	}
}
