.block {
	position: relative;
}
.page--header {
	height: 260px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
	overflow: hidden;
	position: relative;
	margin-top: 64px;
	text-align: center;

	@include mq(md) {
		height: 330px;
	}
	@include mq(xl) {
		margin-top: 74px;
		height: 420px;
	}
	@include mq(xxl) {
		height: 450px;
	}
	@include mq(xxxl) {
		height: 550px;
	}

	.video--holder {
		@include absolute_cover;
		z-index: -1;
	}
	video {
		@include absolute_cover;
		height: auto;
		top: 50%;
		transform: translateY(-50%);
		object-fit: cover;
		z-index: 0;
	}

	.background--image,
	.video--holder {
		z-index: -1;
		overflow: hidden;

		&::before {
			@include pseudo_cover;
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.2) 0%,
				rgba(0, 0, 0, 0.11) 44.79%,
				rgba(0, 0, 0, 0) 100%
			);
			z-index: 9;
		}

		img {
			opacity: 0.7;
			height: 150%;
		}
	}

	body.day & {
		.background--image {
			&::before {
				background: radial-gradient(rgba($white, 0.7), transparent);
			}
			img {
				opacity: 1;
			}
		}
	}
}
.block--products {
	margin: 60px 0;
	overflow: hidden;

	.filters {
		margin-bottom: 45px;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;

			li {
				button {
					@extend .btn;
					@extend .btn--secondary;
					cursor: pointer;
					margin-right: 16px;
					width: auto;

					span {
						margin-left: 6px;
					}

					&.active {
						background: $primary;
						color: $black;
						border-color: $primary;
					}
				}
			}
		}
	}

	.grid--products {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 25px;

		@include mq(lg) {
			grid-gap: 40px;
			grid-template-columns: 1fr 1fr;
		}
	}
	article {
		width: 100%;
		border-radius: 5px;
		background: #111;
		text-align: center;
		position: relative;
		z-index: 0;
		padding: 25px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@include mq(md) {
			padding: 40px;
		}

		&::before {
			@include pseudo_cover;
			width: calc(100% - 14px);
			height: calc(100% - 14px);
			left: 7px;
			top: 7px;
			border: 1px solid rgba($white, 0.5);
			border-radius: 5px;
			pointer-events: none;
		}

		img {
			width: auto;
			max-height: 100%;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
			z-index: 4;
		}

		.image--holder {
			max-height: 45vh;

			a {
				display: block;
				height: 100%;
			}
		}

		h3.back--title {
			line-height: 1em;
			font-weight: 700;
			top: 30px;
			margin-bottom: auto;
			position: relative;
			left: 0;
			padding: 0 10px;
			width: 100%;
			opacity: 0.35;
			z-index: -1;
			text-transform: uppercase;
			font-size: rem(35);

			@include mq(md) {
				padding: 0 15px;
				font-size: rem(45);
			}
			@include mq(lg) {
				font-size: rem(35);
			}
			@include mq(xl) {
				font-size: rem(40);
			}
			@include mq(xxl) {
				font-size: rem(45);
			}
			@include mq(xxxl) {
				padding: 0 20px;
				font-size: rem(60);
			}
		}

		.price {
			font-size: rem(30);
			line-height: 1em;
			margin-bottom: 25px;
			color: $primary;
			font-weight: 800;
			z-index: 99;
			position: relative;
			@include mq(lg) {
				margin-bottom: 30px;
			}
		}

		.flex--buttons {
			display: flex;
			justify-content: center;
			margin-top: 0;
			flex-direction: column;

			@include mq(md) {
				flex-direction: row;
			}

			a,
			.btn--second {
				margin: 0 auto 15px !important;
				width: 100%;
				max-width: 100%;

				@include mq(md) {
					width: 250px;
					margin: 0 8px !important;
				}
				@include mq(lg) {
					width: 100%;
				}
				@include mq(xxl) {
					width: 250px;
				}
			}
		}
	}

	p.product.woocommerce.add_to_cart_inline {
		.button {
			margin: 0;
			max-width: 100%;
		}
	}

	.term-accessories & {
		h3.back--title {
			position: relative;
			margin-bottom: auto;
			margin-top: 0;
			top: 0;
		}
		article {
			img {
				margin-top: 0;
			}
		}
	}
	body.day & {
		article {
			box-shadow: 2px 4px 12px rgba($black, 0.08);
			background: #f5f5f7;

			&::before {
				border: 1px solid rgba($black, 0.5);
			}

			.bike--title {
				border-bottom: 1px solid rgba($black, 0.5);
			}

			.swiper--nav {
				.swiper-button-next,
				.swiper-button-prev {
					color: $black;
				}
			}

			h3.back--title {
				color: rgba($black, 0.7);
			}
		}
	}

	body.post-type-archive-product & {
		.grid--products {
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 20px;

			article {
				justify-content: flex-end;

				h3.back--title {
					top: 0;
					margin-bottom: auto;
					line-height: auto;
					position: relative;
				}
				.price {
					margin-bottom: 35px;
				}
				.image--holder {
					height: 38vh;
					display: flex;
					align-items: center;
					justify-content: center;

					a {
						display: block;
						height: 100%;
					}

					img {
						max-width: 100%;
						max-height: 100%;
						height: auto;
						width: auto;
						margin: 0;
					}
				}
				.flex--buttons {
					margin: 0;
					.btn--second,
					a {
						width: 210px;
					}
				}
			}
		}
	}
}

.block--concierge-button {
	background: $primary;
	padding: 35px 0;
	text-align: center;

	h2 {
		color: $white;
		margin-bottom: 25px;
	}
	.btn {
		margin: 0 auto;
	}
}

.contact--options {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba($white, 0.5);

	> div {
		border-right: 1px solid rgba($white, 0.5);
		padding: 10px;
		text-align: center;
		flex-shrink: 1;
		width: 100%;
		cursor: pointer;

		&:last-of-type {
			border-right: 0;
		}

		&.active {
			background: $primary;
			color: $black;
		}
	}
}

.block--contact {
	padding: 60px 0;

	@include mq(md) {
		padding: 80px 0;
	}

	h4 {
		margin-top: 0;
		margin-bottom: 25px;
	}

	iframe {
		height: 350px;
		width: 100%;
		margin-bottom: 35px;

		@include mq($until: md) {
			margin-top: 35px;
		}
	}

	form {
		p {
			margin-bottom: 25px;
		}

		input[type='submit'] {
			@extend .btn;
			@extend .btn--primary;
			margin-left: auto;

			&:hover {
				background: $background;
			}
		}

		textarea {
			height: 150px;
			border-right: 1px solid rgba($white, 0.5);

			&:focus-visible {
				border-right: 1px solid $primary;
			}
		}
	}

	.social--icons {
		display: flex;
		flex-wrap: wrap;

		li {
			margin-right: 15px;
			margin-bottom: 15px;

			@include mq(md) {
				margin-right: 1vw;
			}
			a {
				height: 45px;
				width: 45px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid $primary;
			}
		}
	}

	.form {
		border-left: 1px solid rgba($white, 0.5);
		border-right: 1px solid rgba($white, 0.5);
		border-bottom: 1px solid rgba($white, 0.5);
		padding: 0 30px;
		transform: scaleY(0);
		transition: transform 0.6s ease-in-out;
		transform-origin: top center;
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		margin: 0;

		@include mq(md) {
			padding: 0 60px;
		}

		&.active {
			opacity: 1;
			padding: 30px;
			transform: scaleY(1);
			max-height: 2500px;

			@include mq(md) {
				padding: 60px;
			}
		}
	}

	body.day & {
		.contact--options {
			border: 1px solid rgba($black, 0.5);

			> div {
				border-right: 1px solid rgba($black, 0.5);
			}
		}
		.form {
			border-left: 1px solid rgba($black, 0.5);
			border-right: 1px solid rgba($black, 0.5);
			border-bottom: 1px solid rgba($black, 0.5);
		}
	}
}

.locations--area {
	margin-top: 55px;

	h2 {
		font-weight: bold;
		text-transform: uppercase;
		color: $primary;
		margin-bottom: 30px;
	}

	.location--flex {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.location--block {
			width: 100%;
			margin: 0 0 35px;
			padding: 15px;
			z-index: 0;
			border: 1px solid rgba($white, 0.5);
			transition: all 0.5s ease-in-out;
			overflow: hidden;

			@include mq(md) {
				margin: 0 1.5% 50px;
				width: 45%;
			}
			@include mq(lg) {
				width: 30%;
			}

			.image--inner {
				height: 200px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 20px;
				padding: 15px;
			}
			img {
				max-width: 100%;
				margin: 0;
				height: auto;
				max-height: 200px;
				width: auto;
			}

			h4 {
				margin-top: 0;
			}

			.content--inner {
				padding: 15px;
				opacity: 0.5;
				z-index: -1;
				position: relative;
				transition: all 0.5s ease-in-out;

				@include mq(xl) {
					padding: 15px 35px;
				}
			}

			&:hover {
				background: $black;
				box-shadow: rgba($white, 0.1) 0 4px 20px;
				.content--inner {
					opacity: 1;
					z-index: 9;
				}
			}
		}
	}

	body.day & {
		.location--flex {
			.location--block {
				border: 1px solid rgba($black, 0.5);

				&:hover {
					background: #eee;
					box-shadow: rgba($black, 0.2) 2px 4px 25px;
				}
			}
		}
	}
}
