.block--complex_gray_box {
  background: #f6f8fb;
  padding: 130px 0;
  color: $off-black;

  hr {
    background: #ced9e3;
    border: none;
    height: 1px;
    margin: 55px 0;
  }

  h3 {
    margin-bottom: 30px;
  }
}
