.block--large_background_content_with_header {
	text-align: center;
	padding: 55px 0 80px;
	z-index: 0;

	h2 {
		font-weight: 300;
		font-size: rem(64);
		line-height: em(72, 64);
		letter-spacing: 0.04em;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 30px;
		padding-bottom: 35px;

		&::after {
			content: '';
			display: block;
			height: 2px;
			width: 100%;
			max-width: 218px;
			background: $primary;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
.block--background {
	position: relative;
	padding: 123px 0 223px;
	z-index: 0;

	.circle {
		background: rgba(255, 255, 255, 0.7);
		border: 1px solid rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(15px);
		border-radius: 100em;
		padding: 132px 72px;
		text-align: center;
	}

	h3 {
		font-size: rem(40);
		line-height: em(56, 40);
		margin-bottom: 30px;
	}

	.bottom--curve {
		position: absolute;
		bottom: -18%;
		left: 0;
		width: 100%;
		height: auto;
		z-index: -1;
	}
}
