.block--large_background_content_with_header {
	text-align: center;
	padding: 45px 0 35px;
	z-index: 0;

	@include mq(xl) {
		padding: 55px 0 60px;
	}
	@include mq(xxl) {
		padding: 80px 0 80px;
	}

	h2 {
		font-weight: 300;
		font-size: rem(42);
		line-height: em(72, 64);
		letter-spacing: 0.04em;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 30px;
		padding-bottom: 35px;
		@include mq(md) {
			font-size: rem(48);
		}
		@include mq(lg) {
			font-size: rem(52);
		}
		@include mq(xl) {
			font-size: rem(56);
		}
		@include mq(xxl) {
			font-size: rem(64);
		}

		&::after {
			content: '';
			display: block;
			height: 2px;
			width: 100%;
			max-width: 218px;
			background: $primary;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
.block--background {
	position: relative;
	padding: 80px 0 120px;
	z-index: 0;

	@include mq(md) {
		padding: 110px 0 160px;
	}
	@include mq(lg) {
		padding: 123px 0 170px;
	}
	@include mq(xl) {
		padding: 123px 0 190px;
	}
	@include mq(xxl) {
		padding: 123px 0 223px;
	}

	.circle {
		background: rgba(255, 255, 255, 0.7);
		border: 1px solid rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(15px);
		border-radius: 100em;
		padding: 35px;
		text-align: center;

		@include mq(md) {
			padding: 80px 40px;
		}
		@include mq(xxl) {
			padding: 132px 72px;
		}

		a {
			color: $black;
			text-decoration: underline;

			&:hover {
				color: $primary;
			}
		}
	}

	h3 {
		font-size: rem(24);
		line-height: em(56, 40);
		margin-bottom: 30px;
		@include mq(md) {
			font-size: rem(28);
		}
		@include mq(lg) {
			font-size: rem(32);
		}
		@include mq(xl) {
			font-size: rem(36);
		}
		@include mq(xxl) {
			font-size: rem(40);
		}
	}

	.bottom--curve {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;
		z-index: -1;

		@include mq(lg) {
			bottom: -5%;
		}
		@include mq(xl) {
			bottom: -10%;
		}
		@include mq(xxl) {
			bottom: -18%;
		}
	}
}

.page-id-96 {
	.block--background {
		padding: 80px 0;
		z-index: 0;

		@include mq(md) {
			padding: 110px 0;
		}
		@include mq(lg) {
			padding: 123px 0;
		}
		@include mq(xl) {
			padding: 123px 0;
		}
		@include mq(xxl) {
			padding: 123px 0;
		}
		svg {
			display: none;
		}
	}
}

.postid-105 {
	.block--background {
		svg {
			@include mq(xxl) {
				bottom: -14%;
			}
		}
	}
}
