.block--meet_our_staff {
	position: relative;
	padding: 60px 0;
	text-align: center;
	overflow: hidden;

	@include mq(md) {
		padding: 75px 0;
	}
	@include mq(xl) {
		padding: 75px 0 144px;
	}

	h2 {
		margin-bottom: 30px;
		padding-bottom: 30px;
		position: relative;
		font-size: rem(42);
		line-height: em(72, 64);
		@include mq(md) {
			font-size: rem(48);
		}
		@include mq(lg) {
			font-size: rem(52);
		}
		@include mq(xl) {
			font-size: rem(56);
		}
		@include mq(xxl) {
			font-size: rem(64);
		}

		&::after {
			content: '';
			display: block;
			width: 100%;
			max-width: 218px;
			height: 2px;
			background: $primary;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.btn {
		margin-bottom: 45px;
		@include mq(md) {
			margin-bottom: 72px;
		}
	}

	.team--container {
		overflow: visible;
		article {
			background: $white;
			box-shadow: 0px 10px 50px rgba(99, 95, 86, 0.1);
			border-radius: 20px;
			padding: 14px;
			display: flex;
			flex-direction: column;

			img {
				width: 100%;
				height: auto;
				margin-bottom: 25px;
				border-radius: 20px;
			}

			.content {
				h3 {
					font-size: rem(20);
					line-height: em(32, 28);
					margin-bottom: 9px;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 2em;

					@include mq(xl) {
						font-size: rem(22);
					}
					@include mq(xxl) {
						font-size: rem(28);
					}
				}
				p {
					margin-bottom: 0;
					margin-top: auto;
				}
			}
		}
	}
}
