.pswp__bg {
	background: rgba($background, 0.75);
	backdrop-filter: blur(4px);
}
.cfvsw-swatches-option {
	background: transparent;
	border: 1px solid $white;
	font-size: 16px;
}
.block--product {
	background-color: #111;
	padding: 40px 0 60px;
	text-align: center;
	margin-top: 128px;

	@include mq(md) {
		padding: 40px 0 80px;
		margin-top: 138px;
	}

	.product {
		position: relative;
		z-index: 0;

		div.images.woocommerce-product-gallery {
			position: relative;
		}
	}

	form.cart {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		button {
			margin-left: 15px;
			text-transform: capitalize;

			i {
				margin-left: 10px;
				display: none;
			}
		}
		.cfvsw-selected-label {
			display: none;
		}
	}
	.woocommerce-product-gallery.images {
		float: none !important;
		width: 100% !important;
	}

	.variations {
		width: auto !important;

		.label {
			display: none;
		}
	}
	.single_variation_wrap {
		display: flex;
		justify-content: center;
		width: 100%;

		.woocommerce-variation-add-to-cart {
			display: flex;
			align-items: center;
		}
	}
	div.product form.cart .variations {
		tr {
			display: flex;
			justify-content: center;
			width: 100%;

			.stock {
				display: none;
			}

			&:nth-child(n + 2) {
				margin-top: 15px;
				.cfvsw-swatches-container {
					@include mq($until: md) {
						justify-content: center;
					}
				}
			}

			&:first-of-type {
				td {
					/*position: absolute;
					right: 0;
					transform: translateX(50%) rotate(90deg);
					top: 50%;*/
				}
			}
			&:not(:first-of-type) {
				td {
					.cfvsw-swatches-option {
						background: unset;
						border: 2px solid rgba($white, 0.5);
						font-size: 1rem;
					}
				}
			}
			.cfvsw-swatches-option {
				&.cfvsw-selected-swatch {
					border: 3px solid $primary !important;
					background: unset;
					.cfvsw-swatch-inner {
						border: 0px solid $primary !important;
					}
				}
			}
		}
	}
	div.product form.cart .reset_variations {
		display: none !important;
	}

	p.review-stars {
		margin-bottom: 0;
	}
	.stars {
		margin-bottom: 10px;
		@include mq(md) {
			margin-bottom: 24px;
		}
		i {
			color: $primary;
			margin: 0 2px;

			@include mq($until: md) {
				font-size: 16px;
			}
		}
	}
	h5 {
		font-size: rem(18);
		line-height: em(32, 24);
		font-weight: 600;
		margin: 0;

		@include mq(lg) {
			font-size: rem(20);
		}
		@include mq(xl) {
			font-size: rem(22);
		}
		@include mq(xxl) {
			font-size: rem(24);
		}
	}
	h2 {
		margin: 0;
		@include mq($until: lg) {
			margin: 10px 0;
		}
	}
	.woocommerce-product-details__short-description {
		font-size: rem(16);
		line-height: em(24, 16);
		margin: 0;
	}
	.cfvsw-swatches-option {
		@include mq($until: md) {
			min-width: 20px !important;
			min-height: 20px !important;
		}
	}
	.price {
		font-size: rem(30);
		line-height: 1em;
		margin-bottom: 0;
		margin-top: 15px;
		color: $primary;
		font-weight: 800;
	}
	.woocommerce-product-gallery {
		img {
			width: 100%;
			height: auto;
		}
	}
	.flex--details {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		@include mq(lg) {
			flex-wrap: nowrap;
		}

		.flex--single {
			margin: 0 15px 25px;
			flex-shrink: 1;
			min-width: 248px;

			@include mq(lg) {
				margin: 0 35px;
			}

			p {
				font-size: rem(20);
				font-weight: 800;
				line-height: 1em;
				color: $white;
				margin-bottom: 15px;

				@include mq(lg) {
					font-size: rem(26);
				}
				@include mq(xxl) {
					font-size: rem(30);
				}
			}

			h6 {
				border-radius: 5px;
				border: 1px solid rgba($white, 0.5);
				font-size: rem(16);
				line-height: em(20, 16);
				margin: 0;
				padding: 10px;
			}
		}
	}
	.content {
		padding-left: 50px;
		text-align: left;
		margin-top: 35px;
	}

	&.block--product-accessories {
		margin-top: 55px;
		padding: 60px 0;
		@include mq(md) {
			margin-top: 75px;
			padding: 80px 0;
		}
		@include mq(xl) {
			padding: 100px 0;
		}
		.images {
			@include mq(md) {
				position: sticky !important;
				top: 105px;
			}
		}
		div.product {
			form.cart {
				display: flex;
			}
		}
		.content {
			@include mq($until: lg) {
				margin: 0;
				padding: 0;
			}
		}
	}

	body.day & {
		background: #f5f5f7;

		.flex--details {
			.flex--single {
				p {
					color: $black;
				}
				h6 {
					border: 1px solid $primary;
				}
			}
		}
	}
}

.block--product_page {
	padding: 60px 0;
	background: $background;

	.row {
		&:first-of-type {
			margin-bottom: 80px;
		}
	}
	.mb-testimonial {
		@include mq($until: md) {
			margin-bottom: 25px;
		}
	}
	.single--testimonial {
		background: #333;
		padding: 30px 35px;
		text-align: center;
		color: $white;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		p {
			margin-bottom: 15px;
			font-style: italic;

			strong {
				font-style: normal;
				font-size: rem(18);
				line-height: em(28, 18);
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	body.day & {
		background: #f5f5f7;

		.single--testimonial {
			background: #ddd;
			color: $black;
		}
	}
}
.block--cruiser-fit {
	padding: 40px 0;
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba($black, 0.4) 0%,
		rgba($black, 0) 100%
	);
	position: relative;

	@include mq(lg) {
		padding: 80px 0;
	}

	&::before {
		@include pseudo_cover;
		background: $background;
	}

	h2 {
		text-align: center;
	}

	.cruiser--area {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;

		@include mq(md) {
			grid-template-columns: 1fr 1fr;
		}

		.bike--image {
			max-height: 72%;
			width: auto;
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
			height: 300px;

			@include mq(lg) {
				height: 420px;
			}
			@include mq(xl) {
				height: 520px;
			}
			@include mq(xxl) {
				height: 650px;
			}

			img {
				max-width: 100%;
				max-height: 100%;
				width: auto;
				height: auto;
			}
		}

		.image--holder {
			position: relative;
			z-index: 0;
			display: flex;
			align-items: flex-end;
			height: 300px;

			@include mq(lg) {
				height: 420px;
			}
			@include mq(xl) {
				height: 520px;
			}
			@include mq(xxl) {
				height: 650px;
			}

			.image {
				position: absolute;
				bottom: 20px;
				left: 5px;
				z-index: -1;
				opacity: 0;
				transition: all 0.5s ease-in;
				height: 100%;
				width: auto;

				@include mq(xl) {
					left: 55px;
				}

				@include mq(xxl) {
					height: auto;
					bottom: 40px;
				}

				&.active {
					opacity: 1;
				}

				img {
					max-height: 100%;
					max-width: 100%;
					height: auto;
					width: auto;
				}
			}
			img:not(.image) {
				z-index: 2;
				position: relative;
			}
		}
	}
	.measure--height {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.height--single {
			display: grid;
			grid-template-columns: 1fr;
			align-items: center;
			width: 100%;

			@include mq(md) {
				grid-template-columns: 150px 1fr;
			}

			@include mq(lg) {
				grid-template-columns: 200px 1fr;
			}
			@include mq(xl) {
				grid-template-columns: 255px 1fr;
			}

			&.active {
				.description {
					opacity: 1;
					display: block;
				}
				.title {
					position: relative;

					&::after {
						content: '';
						display: block;
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 0;
						height: 0;
						border-top: 15px solid transparent;
						border-bottom: 15px solid transparent;
						border-right: 20px solid $primary;

						@include mq(lg) {
							border-top: 25px solid transparent;
							border-bottom: 25px solid transparent;
							border-right: 34px solid $primary;
						}
					}
					h6 {
						background: $primary;
						color: $black;
					}
				}
			}
		}
		.title {
			display: flex;
			align-items: center;
			padding: 20px 0;

			@include mq(md) {
				border-right: 1px solid $primary;
				padding: 50px 0;
			}
			@include mq(lg) {
				padding: 50px 0;
			}
			@include mq(xl) {
				padding: 60px 0;
			}
		}
		h6 {
			cursor: pointer;
			border-radius: 5px;
			border: 2px solid $primary;
			padding: 15px;
			text-align: center;
			width: 100%;
			height: 55px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: rem(16);
			line-height: em(20, 16);
			color: $primary;
			margin: 0;

			@include mq(md) {
				width: 120px;
			}
			@include mq(lg) {
				width: 155px;
			}
			@include mq(xl) {
				width: 195px;
			}
		}
		.description {
			padding-left: 25px;
			opacity: 0;
			transition: all 0.5s ease-in-out;
			display: none;

			@include mq(md) {
				display: block;
			}

			@include mq(xl) {
				padding-left: 50px;
			}
			@include mq(xxxl) {
				padding-left: 125px;
			}
			h3 {
				font-size: rem(24);
				line-height: em(48, 40);
				letter-spacing: -0.5px;
				color: $white;
				margin-bottom: 15px;
				margin-top: 0;

				@include mq(lg) {
					font-size: rem(30);
				}
				@include mq(xl) {
					margin-bottom: 30px;
					font-size: rem(32);
				}
				@include mq(xxl) {
					font-size: rem(36);
				}
				@include mq(xxxl) {
					font-size: rem(40);
				}
			}
			p {
				font-size: rem(16);
				line-height: em(30, 20);
				margin: 0;

				@include mq(lg) {
					font-size: rem(18);
				}
				@include mq(xl) {
					font-size: rem(20);
				}
			}
		}
	}

	body.day & {
		background: $white;
		&::before {
			background: $white;
		}

		.measure--height {
			.height--single {
				h6 {
					background: $white;
				}
			}
			.description {
				h3 {
					color: $primary;
				}
			}
		}
	}
}

.block--icons {
	padding: 30px 0 60px;
	background: $background;

	@include mq(md) {
		padding: 30px 0 70px;
	}

	.grid--icons {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 25px;
		text-align: center;

		@include mq(md) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 35px;
		}
		@include mq(xl) {
			grid-gap: 45px;
		}

		.icons {
			margin-top: 45px;
			@include mq(md) {
				margin-top: 0;
			}

			&:first-of-type {
				margin-top: 0;
			}
			i {
				height: 45px;
				font-size: 45px;
				width: auto;
				margin-bottom: 35px;
				color: $primary;

				@include mq(md) {
					height: 60px;
					font-size: 60px;
				}
				@include mq(lg) {
					height: 79px;
					font-size: 79px;
				}
			}
			p {
				margin: 0;
			}
		}
	}

	body.day & {
		background: $white;
	}
}

.block--details {
	background: #111;
	padding: 60px 0;

	@include mq(md) {
		padding: 80px 0;
	}
	@include mq(xl) {
		padding: 100px 0;
	}
	@include mq(xxl) {
		padding: 120px 0;
	}

	.top--header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;

		@include mq(md) {
			flex-direction: row;
		}

		@include mq(xxl) {
			padding: 0 80px;
		}
	}

	.svg--holder {
		position: relative;
		margin: 35px 0;

		@include mq(xl) {
			margin: 0;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	h2.large {
		color: rgba($white, 0.2);
		font-size: rem(60);
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 25px;

		@include mq(md) {
			margin: 0;
			font-size: rem(80);
		}
		@include mq(lg) {
			font-size: rem(120);
		}
		@include mq(xl) {
			font-size: rem(140);
		}
		@include mq(xxl) {
			font-size: rem(150);
		}
		@include mq(xxxl) {
			font-size: rem(160);
		}
	}
	.btn--floater {
		margin: 0 auto;
		@include mq(md) {
			position: absolute;
			bottom: 65px;
			right: 65px;
		}
	}

	body.day & {
		background: $white;
		&::before {
			@include pseudo_cover;
			background: radial-gradient(rgba($black, 0.3), $white);
		}

		h2.large {
			color: rgba($black, 0.5);
		}
	}
}

.block--lifestyle {
	padding: 60px 0;
	background: $background;

	@include mq(xl) {
		padding: 100px 0;
	}
	@include mq(xxl) {
		padding: 120px 0;
	}
	h2 {
		text-align: center;
		margin-bottom: 50px;
	}
	.content--area {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 35px;
		align-items: center;
		background: #111;
		border-radius: 5px;
		padding: 30px;

		@include mq(md) {
			padding: 35px;
			grid-gap: 35px;
			grid-template-columns: 1fr 1fr;
		}

		@include mq(lg) {
			grid-gap: 70px;
			padding: 50px;
		}
		.image--holder {
			img {
				border-radius: 5px;
				width: 100%;
				height: auto;
			}
		}
	}

	body.day & {
		background: #f5f5f7;

		.content--area {
			background: #ddd;
		}
	}
}
.block--accessories {
	background: $background;
	.col-md-6 {
		@include mq($until: lg) {
			margin-bottom: 25px;
		}
	}
	article {
		border-radius: 5px;
		background: #111;
		padding: 7px;
		position: relative;
		z-index: 0;
		text-align: center;

		&::before {
			content: '';
			display: block;
			width: calc(100% - 14px);
			height: calc(100% - 14px);
			position: absolute;
			top: 7px;
			left: 7px;
			pointer-events: none;
			border: 1px solid rgba($white, 0.5);
			border-radius: 5px;
		}

		.image--holder {
			height: 45vh;
			display: flex;
			align-items: center;
			justify-content: center;

			a {
				display: block;
				height: 100%;
			}
		}

		.bike--title {
			border-bottom: 1px solid rgba($white, 0.5);
			font-size: rem(20);
			line-height: em(30, 20);
			text-transform: uppercase;
			padding: 0;
			margin: 0;
			font-weight: normal;
			padding: 15px 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 5em;
		}

		img {
			width: auto;
			max-width: 100%;
			max-height: 100%;
			height: auto;
			z-index: 1;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.price {
		font-size: rem(30);
		line-height: 1em;
		margin-bottom: 35px;
		color: $primary;
		font-weight: 800;
	}

	.flex--buttons {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 15px;

		@include mq(xl) {
			flex-direction: row;
		}
		a,
		.btn--second {
			margin: 0 auto 15px !important;
			width: 100%;

			@include mq(xl) {
				margin: 0 8px !important;
				width: 250px;
			}
		}
		p.product.woocommerce.add_to_cart_inline .button {
			margin: 0 auto !important;
		}
	}
	body.day & {
		background: #f5f5f7;
		article {
			box-shadow: 2px 4px 12px rgba($black, 0.08);
			background: #f5f5f7;

			&::before {
				border: 1px solid rgba($black, 0.5);
			}

			.bike--title {
				border-bottom: 1px solid rgba($black, 0.5);
			}

			h3.back--title {
				color: rgba($black, 0.7);
			}
		}
	}
}
.block--testimonial-single {
	padding: 60px 0;
	text-align: center;
	background: $background;

	@include mq(lg) {
		padding: 80px 0;
	}

	h2 {
		margin-bottom: 35px;

		@include mq(lg) {
			margin-bottom: 60px;
		}
	}

	.image--holder {
		position: relative;
		margin-bottom: 45px;

		img {
			width: 100%;
			height: auto;
		}

		a.btn--play {
			border-radius: 100em;
			height: 60px;
			width: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: $primary;
			color: $black;
			z-index: 9;

			@include mq(md) {
				height: 100px;
				width: 100px;
			}
			@include mq(xl) {
				height: 120px;
				width: 120px;
			}
			i {
				font-size: 16px;
				color: $black;
				z-index: 2;

				@include mq(md) {
					font-size: 30px;
				}
			}
			&::before {
				@include pseudo_cover;
				background: rgba($primary, 0.5);
				z-index: -1;
				border-radius: 100em;
				transition: all 0.5s ease-in-out;
			}
			&::after {
				border-radius: 100em;
				@include pseudo_cover;
				background: $primary;
				z-index: 0;
				transition: all 0.5s ease-in-out;
			}
			&:hover {
				background: $black;

				i {
					color: $primary;
				}
				&::before {
					width: 120%;
					height: 120%;
					right: -10%;
					top: -10%;
				}

				&::after {
					background: $black;
				}
			}
		}
	}
	body.day & {
		background: #f5f5f7;
	}
}

#specs {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -10;

	.content {
		width: calc(100% - 30px);
		height: calc(100% - 30px);
		background: #333;
		color: $white;
		overflow: auto;
		box-shadow: rgba($white, 0.2) 0 4px 20px;
		padding: 55px 15px 15px;
		z-index: 1;

		@include mq(lg) {
			padding: 35px 5vw;
			width: calc(100% - 100px);
			height: calc(100% - 100px);
		}
		@include mq(xl) {
			width: calc(100% - 200px);
			height: calc(100% - 200px);
		}

		.close {
			position: absolute;
			right: 25px;
			top: 15px;
			color: $white;
			cursor: pointer;

			@include mq(lg) {
				top: 25px;
			}
		}

		.spec--list {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 20px;

			@include mq(md) {
				grid-template-columns: 1fr 1fr;
			}
			@include mq(lg) {
				grid-gap: 35px;
			}

			h4 {
				margin-bottom: 10px;
				margin-top: 0;
			}

			p {
				margin: 0;
			}
			.spec--single {
				padding: 25px;
				border: 1px solid rgba($white, 0.5);
			}
		}

		/* width */
		&::-webkit-scrollbar {
			width: 5px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: $black;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: $primary;
		}
	}

	.details--background {
		@include absolute_cover;
		position: fixed;
		background: rgba($background, 0.75);
		backdrop-filter: blur(4px);
		z-index: -2;
		transform: scale(0);
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&.active {
		z-index: 9999999;
		.details--background {
			transform: scaleY(0.01) scaleX(0);
			animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
		}
		.content {
			transform: scale(0);
			animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
		}
	}

	body.day & {
		.details--background {
			background: rgba($white, 0.8);
		}
		.content {
			background: $white;
			box-shadow: rgba($black, 0.3) 0 4px 25px;

			.close {
				color: $black;
			}

			.spec--list {
				.spec--single {
					border: 1px solid rgba($black, 0.5);
					color: $black;
				}
			}
		}
	}
}

@keyframes unfoldIn {
	0% {
		transform: scaleY(0.005) scaleX(0);
	}
	50% {
		transform: scaleY(0.005) scaleX(1);
	}
	100% {
		transform: scaleY(1) scaleX(1);
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
