.block--shadow_two_column_with_title {
	padding: 40px 0 80px;

	h2 {
		text-align: center;
		margin-bottom: 75px;
		padding-bottom: 30px;
		position: relative;

		&::after {
			content: '';
			display: block;
			height: 2px;
			width: 100%;
			max-width: 218px;
			background: $primary;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.content--info {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 0;
		background: #f5f3f1;
		box-shadow: 0px 10px 50px rgba(99, 95, 86, 0.1);
		border-radius: 20px;

		@include mq(lg) {
			grid-template-columns: 1fr 380px;
		}
		@include mq(xl) {
			grid-template-columns: 1fr 420px;
		}
		@include mq(xxl) {
			grid-template-columns: 1fr 520px;
		}

		ul {
			padding-left: 25px;
		}
		.content {
			padding: 40px 30px;
			box-shadow: 0px 10px 50px rgba(99, 95, 86, 0.1);
			border-radius: 20px 0px 0px 20px;

			@include mq(md) {
				padding: 50px;
			}
			@include mq(lg) {
				padding: 70px 80px;
			}
			@include mq(xl) {
				padding: 96px 100px;
			}
			@include mq(xxl) {
				padding: 96px 136px;
			}

			h2 {
				text-align: left;
				margin-bottom: 30px;
				padding-bottom: 0;
				font-size: rem(26);
				line-height: em(56, 40);
				@include mq(md) {
					font-size: rem(28);
				}
				@include mq(lg) {
					font-size: rem(32);
				}
				@include mq(xl) {
					font-size: rem(36);
				}
				@include mq(xxl) {
					font-size: rem(40);
				}

				&::after {
					display: none;
				}
			}
			h4 {
				font-weight: bold;
			}
		}
		.info {
			padding: 30px;

			@include mq(lg) {
				padding: 80px 35px;
			}
			@include mq(xl) {
				padding: 100px 50px;
			}
			@include mq(xxl) {
				padding: 180px 50px;
			}
		}

		a:not(.btn) {
			color: #272b2a;
			text-decoration: underline;

			&:hover {
				color: $primary;
			}
		}

		h3 {
			font-weight: 600;
			font-size: rem(22);
			line-height: em(44, 22);
			margin-bottom: 30px;
			text-transform: initial;
		}

		.gform_wrapper {
			.gf_progressbar_percentage.percentbar_blue {
				background-color: $primary;
				color: $black;
			}
			.gform_fields {
				grid-template-columns: 1fr !important;

				.ginput_complex {
					height: auto !important;

					span {
						padding: 0 !important;
					}
				}
				.gfield_radio {
					display: flex;
					align-items: center;
					width: 100%;

					.gchoice {
						display: flex;
						align-items: center;
						margin-right: 25px;

						label {
							display: block;
							width: 100%;
							max-width: 100%;
							padding-left: 10px;
							white-space: nowrap;
						}
					}
				}

				.gfield_checkbox {
					display: block;
					width: 100%;

					button {
						@extend .btn;
						@extend .btn--primary;
						border: none;
					}

					.gchoice {
						display: flex;
						align-items: center;

						input {
							display: none;
						}

						label {
							position: relative;
							padding-left: 50px;
							margin: 0 0 10px;
						}
					}
				}
			}
			.gform_page_footer {
				input {
					@extend .btn;
					@extend .btn--primary;
					border: none;
				}
			}
		}
	}
}
