.block--single_column {
	padding: 60px 0;
	@include mq(md) {
		padding: 80px 0;
	}
	.page-id-671 & {
		padding: 0;
	}

	a {
		text-decoration: underline;
		color: $black;

		&:hover {
			columns: $primary;
		}
	}
}
