.block--single_slate_column {
  padding: 90px 0;
  text-align: center;
  color: $white;
  background: linear-gradient(180deg, #768692 0%, #5d6b76 100%);

  @include mq(lg) {
    padding: 130px 0;
  }

  .spacer {
    margin: 45px 0;
  }

  h2 {
    color: $white;
  }

  .px-0 {
    @include mq($until: md) {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}
