.block--titles {
	padding: 60px 0;

	@include mq(md) {
		padding: 80px 0;
	}
	@include mq(lg) {
		padding: 100px 0;
	}
	@include mq(xl) {
		padding: 100px 0 145px;
	}

	h2 {
		text-align: center;
		position: relative;
		margin-bottom: 50px;
		padding-bottom: 50px;

		&::after {
			content: '';
			display: block;
			height: 2px;
			width: 100%;
			max-width: 218px;
			background: $primary;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.tile--container {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 38px 20px;

		@include mq(md) {
			grid-template-columns: 1fr 1fr;
		}
		@include mq(lg) {
			grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
		}

		.single--tile {
			background: $white;
			box-shadow: 0px 10px 50px rgba(99, 95, 86, 0.1);
			border-radius: 20px;
			padding: 30px;

			@include mq(md) {
				padding: 45px 35px;
			}
			@include mq(xl) {
				padding: 75px 45px;
			}

			h3 {
				font-weight: 500;
				font-size: rem(20);
				line-height: em(56, 32);
				letter-spacing: 0.04em;
				margin-bottom: 12px;
				@include mq(md) {
					font-size: rem(24);
				}
				@include mq(lg) {
					font-size: rem(28);
				}
				@include mq(xxl) {
					font-size: rem(32);
				}
			}
			p {
				margin-bottom: 0;
			}

			&.request-tile {
				padding: 0;
				overflow: hidden;
				grid-column: span 1;

				@include mq(md) {
					grid-column: span 2;
				}
				@include mq(xxl) {
					grid-column: span 1;
				}

				a {
					background: $primary;
					font-style: normal;
					font-weight: 500;
					font-size: rem(20);
					line-height: em(56, 32);
					letter-spacing: 0.04em;
					text-transform: uppercase;
					color: #272b2a;
					display: flex;
					height: 100%;
					width: 100%;
					justify-content: center;
					align-items: center;
					transition: all 0.6s ease-in-out;
					padding: 30px;
					text-align: center;
					@include mq(md) {
						font-size: rem(24);
						padding: 45px 35px;
					}
					@include mq(lg) {
						font-size: rem(28);
					}
					@include mq(xxl) {
						font-size: rem(32);
						padding: 0;
					}

					&:hover {
						background: $black;
						color: $primary;
					}
				}
			}
		}
	}
}
