.block--top_header,
.block--top-header {
	position: relative;
	padding: 45px 0 195px;
	z-index: 0;

	.side--image {
		width: 973px;
		height: 973px;
		position: absolute;
		top: 27%;
		right: 0;
		transform: translateY(-50%);
		overflow: hidden;

		img {
			position: relative;
			right: -74px;
			width: 100%;
			height: auto;
			display: block;
			border-radius: 100em;
		}
	}

	h3 {
		font-size: rem(40);
		line-height: em(56, 40);
		margin-bottom: 30px;
	}

	.top-double-curve {
		position: absolute;
		top: 60%;
		left: 0;
		width: 100%;
		height: auto;
		z-index: -1;
	}
}
