.block--two_column_gray {
  padding: 130px 0;
  background: linear-gradient(180deg, #eeeff0 0%, #e1e5e9 100%);

  h2 {
    margin-bottom: 30px;
  }

  .hang--left {
    position: relative;
    display: block;

    img {
      position: absolute;
      top: 0;
      right: 0;
      box-shadow: 0px 25px 60px rgba(37, 55, 70, 0.29);
      margin-right: 6vw;
    }
  }

  .hang--bottom {
    img {
      position: absolute;
      bottom: -130px;
      margin-left: 3vw;
    }
  }
  a:not(.btn) {
    color: $black;
    font-weight: bold;

    &:hover {
      color: $slate;
    }
  }

  .btn--secondary {
    width: auto;
    display: inline-flex;
  }
}
