.block--two_column_white {
  padding: 90px 0;
  color: $off-black;

  @include mq(lg) {
    padding: 130px 0;
  }

  h2 {
    margin-bottom: 30px;
  }

  .left--content {
    margin-bottom: 35px;

    @include mq(md) {
      margin-bottom: 0px;
    }
  }
}
