.block--two_column_with_video {
	position: relative;
	z-index: 1;
	padding-bottom: 30px;
	@include mq(md) {
		padding-bottom: 0;
		padding-top: 10px;
	}

	.section--holder {
		position: relative;
		margin-bottom: 35px;
		@include mq(xl) {
			margin-bottom: 0;
			padding-right: 60px;
		}

		.image--holder {
			border-radius: 100em;
			overflow: hidden;

			img {
				width: 100%;
				height: auto;
			}
		}

		.btn--play {
			position: absolute;
			bottom: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100em;
			color: $white;
			background: $primary;
			height: 100px;
			width: 100px;
			box-shadow: 0px 10px 50px rgba(99, 95, 86, 0.1);

			@include mq(lg) {
				height: 120px;
				width: 120px;
			}
			@include mq(xl) {
				height: 158px;
				width: 158px;
			}
			i {
				font-size: 45px;
				font-weight: 100;
				margin-left: 14px;
				@include mq(lg) {
					font-size: 60px;
				}
				@include mq(xl) {
					font-size: 76px;
				}
			}
		}
	}
}
